@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #171717;
}

* {
  box-sizing: border-box;
}